
{% extends 'base.html' %}

{% block title %}
    <title>  Hip Guardian -Patients Page </title>    
{% endblock %}

{% block content %}


<div class="card">
  <div class="card-body"> 
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col" class = home_text>Demographics</th>
            <th scope="col" class = home_text>Stage/Location</th>
            <th scope="col" class = home_text>Procedure</th>
            <th scope="col"class = home_text>Complications</th>
            <th scope="col"class = home_text>Conditions</th>
            <th scope="col"class = home_text>ACS</th>
            <th scope="col"class = home_text>Mortality</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in patients%}
          <tr>
            <td>{{ patient.name + " " + patient.surname }} <br> {{ patient.sex + " " }}  {{ patient.age }}</td>
            <td>{{ patient.stage }} <br> {{ patient.location }}</td>
            <td>{{ patient.procedure }}</td>
            <td>{{ patient.complication }}</td>
            <td>{{ patient.condition }}</td>
            <td>{{ patient.ACS }}</td>
            <td>{{ patient.mortality }}</td>
            <td><a href="{{ url_for('patients.patient_detail', slug=patient.slug)  }}"class="btn bi bi-chevron-compact-right fa-lg"
              style="font-size: 1rem; color: #178DC1;"> </a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>






   
  </div>
</div>


 
{% endblock %}

 